body {
  background-color: #FCFDFF;
}
.test__container{
  margin-top: 50px;
}
.bg{
  width: 1500px;
  height: 600px;
  background-image: url("../../public/img/bg.jpg");
}


.icons{
  background-color: rgba(147, 203, 36, 0.1);
  padding: 5px;
}

.icon.icon-energy{
  color: $green;
  font-size: 32px;
  width: fit-content;
  padding: 24px;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.5s ease 0s;
  &:hover{
    color: #fff;
    background-color: $green;
  }
}